@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;

}
.header{
  background-image: url("images/hero_bg_1.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover {
    color: #ff3858;
}

.header h3{
  font-size: 30px;
  margin-bottom: 30px;
}

 span{
  display: block;
  height: 3px;
  width: 50px;
  background: #ff3858;
  margin: auto;
}

.header h1{
  font-size: 70px;
  margin: 40px 0 60px 0;
}
.btn-danger{
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 20px;
  
}

.height{
 min-height: 90vh;
}

.quotation{
  background: #f5f5f5;
  padding: 40px 0;
}

.quotation h3{

}

.quotation p{

}

.events{
  padding: 70px 0;
  
}

.events h1{
  text-transform: uppercase;
  font-size: 50px;
}
.events span{
  display: block;
  height: 3px;
  width: 50px;
  background: #ff3858;
  margin: auto;
}

.events h4{
  margin-top: 30px;
}

.events img{
  margin-top: 50px;
}

.explore{
  background-image: url("images/hero\ \(1\).jpg");
  min-height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0 ;
}

.explore h3{
  color:#fff;
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.explore p{
  color: #fff;
  margin: 20px 0 30px 0;
}

.tour{
   padding: 100px 0;
  height: 100vh;
}
.tour h1{
    margin-bottom: 20px;
}
.tour p{
    margin: 20px 0 30px 0;
}
.footer{
  background: #141422;
  margin-top: 100px;
  height: 100px;
}
.footer p{
  color: #fff;
  margin-top: 40px;
}